body {
    font-family: 'Roboto', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

body::after {
  content: "";
  background: url(library.jpg);
  background-repeat: repeat-y;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#title{
    margin-left: 10%;
}

#viewRes{
    float: right;
    font-family: 'Lato', sans-serif;
    /*font-weight: bold;*/
    font-style: italic;
    background-color: rgba(85, 85, 85,0.8);
    color: white;
    border-width: 0px;
    padding: 4px 6px 4px 6px;
}
#viewRes:hover{
    background-color: rgba(119, 119, 119,0.5);
    color: white;
}
#intro{
    font-family: 'Lato', sans-serif;
    padding-bottom: 10px;
}

#content{
    background-color: rgba(204, 204, 204,0.7);
}

#header{
    text-align: center;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
}

#roomContent{
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.tablink {
    background-color: rgba(85, 85, 85,0.8);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: rgba(119, 119, 119,0.5);
    color: white;
}

/* Style the tab content */
.tabcontent {
    color: black;
    display: none;
    padding: 50px;
    padding-top: 80px;
    min-height: 300px;
/*    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;*/
}

.roomBtn{
    font-family: 'Open Sans', sans-serif;
    margin: 0 15px 10px 15px;
    background: red;
    /*#31bc53*/
    border: solid #196139 0px;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.roomBtn:hover{
  background:#a00000;
  /*#1a783e;*/
  text-decoration: none;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

#Basement {background-color: rgba(245,245,245,0.7)}
#First {background-color:rgba(245,245,245,0.7)}
#Second {background-color:rgba(245,245,245,0.7)}
#Third {background-color:rgba(245,245,245,0.7)}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#myModal{
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

#viewResModal{
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 6% auto; /* 6% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
   
}

#mainModalContent{
    width: 60%; /* Could be more or less, depending on screen size */
    height: 500px;
}

#viewResContent{
    width: 40%;
    height: 200px;
}

.modalHead{
    font-size: 20px;
/*    padding-left: 25%;
    padding-right:25%;*/
}
.modalIntro{
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

#reservationPicker{
    margin-right: 20%;
    margin-left: 20%;
}

/*.reserve{
    display:flex;
    flex-direction:column;
}*/

#row1{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

#row2{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.timebox{
   display:flex;
    flex-direction:column;
}

#modalDate{
    padding-bottom: 10px;
    font-weight: bold;
}

#modalTime{
    padding-bottom: 10px;
    font-weight: bold;
}


#reserveBtn{
    margin-top: 1%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}